# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
/.env

backend-app/lecoindesentrepreneurs-ff393423aa2f.json.json
backend-app/beta_micro_formation.json
backend-app/beta_agencies_geo_location.json
backend-app/inquisite-privilege-reputation.json
backend-app/*.DS_Store
backend-app/*/bin
backend-app/bin
backend-app/vendor
backend-app/*/vendor
backend-app/*.env
backend-app/*.swp
backend-app/*.pem
backend-app/tmp
backend-app/.air.toml
backend-app/.vscode

client-app2.0v/node_modules
client-app2.0v/.pnp
client-app2.0v/.pnp.js
client-app2.0v/coverage
client-app2.0v/build
client-app2.0v/.DS_Store
client-app2.0v/.env
client-app2.0v/.env.local
client-app2.0v/.env.development.local
client-app2.0v/.env.test.local
client-app2.0v/.env.production.local
client-app2.0v/npm-debug.log*
client-app2.0v/yarn-debug.log*
client-app2.0v/yarn-error.log*
client-app2.0v/.eslintcache
client-app2.0v/.dockerignore
