# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
/.env

./backend-app/*.DS_Store
./backend-app/*/bin
./backend-app/bin
./backend-app/vendor
./backend-app/*/vendor
./backend-app/*.env
./backend-app/*.swp
./backend-app/lecoindesentrepreneurs-ff393423aa2f.json.json
./backend-app/*.pem
./backend-app/tmp
./backend-app/.air.toml
./backend-app/.vscode
./backend-app/beta_micro_formation.json
./backend-app/beta_agencies_geo_location.json
./backend-app/inquisite-privilege-reputation.json