*.DS_Store
/*/bin
/bin
/vendor
/*/vendor
*.env
*.swp
lecoindesentrepreneurs-ff393423aa2f.json.json
*.pem
/tmp
/.air.toml
/.vscode
beta_micro_formation.json
beta_agencies_geo_location.json
inquisite-privilege-reputation.json